:root {
    --bg-color: #000;
    --font-color: #c7c7c7;
    --notification-color: #e5345b;
    --gradient-bg-color: linear-gradient(to bottom left, #09203f, #537895);
}

div>article>header>h1,
section h2,
h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
}

.bg-image {
    background-image: url("../upload/user-home.jpg");
    height: 250px;
    width: 100%;
}

.bg-image>p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

article>section>ul>li>h2,
.product h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    margin: 3px 0;
    text-align: center;
    padding-top: 5px;
}

.product hr {
    width: 25%;
    margin: auto;
    margin-bottom: 5px;
    transition: 0.7s;
    opacity: 0.3;
}

.product .btn,
section.container>.row .btn {
    margin: auto;
    margin-top: 10px;
    width: 19%;
    text-transform: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 15px;
    transition: 0.5s;
}

section.container>.row>.col-12>a.btn {
    margin: auto;
    margin-top: 10px;
    width: 85%;
    text-transform: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 15px;
}

.product .btn:hover {
    background-color: var(--bg-color);
    width: 23%;
    transition: 0.5s;
}


/*Aggiungi le media query per il bottone*/

@media screen and (max-width: 992px) {
    .product .btn,
    section.container>.row .btn {
        margin: auto;
        margin-top: 10px;
        width: 40%;
        text-transform: none;
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
        border-radius: 30px;
        padding: 10px 15px;
        transition: 0.5s;
    }
    .product .btn:hover {
        background-color: var(--bg-color);
        width: 50%;
        transition: 0.5s;
    }
}

article>section>ul>li>p,
.product p {
    text-align: center;
    font-size: 15px;
}

ul>li>a>img,
ul>li>img,
.card-body img {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    object-fit: cover;
}

a {
    text-decoration: none;
}

article>section>ul>li {
    margin: 15px 0 0 0;
}

ul {
    list-style: none;
}

.navbar {
    background-color: var(--bg-color);
}

.navbar-brand {
    margin-left: 50px;
    font-size: 2rem;
    color: var(--font-color) !important;
    font-family: 'Cormorant Garamond', serif;
}

.nav-link,
.btn {
    margin: 0 10px 0 10px;
    color: var(--font-color);
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link:hover,
.navbar-brand:hover,
.btn:hover {
    color: #fff !important;
}

.navbar-toggler-icon:hover {
    color: #fff;
}


/*Area notifiche*/

.dropdown-menu {
    position: absolute;
    z-index: 500;
    display: none;
    min-width: max-content;
    padding: .5rem 0;
    margin: 0;
    font-size: 12px;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}


/*Drop Down Menu*/

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -50px;
    margin-top: .125rem;
}

.dropdown-menu {
    margin: -0.125rem -50px 0;
}

.toast {
    background-color: rgb(1, 1, 51);
}

nav div {
    float: left;
    clear: both;
}

.bg-primary {
    background-color: var(--notification-color) !important;
}

.rounded-circle {
    margin: 30% 0 0 70%;
    border: 0.1px solid var(--font-color);
}

.navbar {
    box-shadow: 0 3px 9px 3px rgba(78, 78, 78, 0.1);
}

.nav-item {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.378);
}

@media screen and (min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}

@media screen and (max-width: 720px) {
    article>section>ul>li {
        margin-right: 10px;
        margin-top: 15px;
    }
}

.carousel-inner,
#carousel {
    height: 50%;
    width: 100%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin: -0.125rem 0 0;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

article {
    margin: 40px;
}

footer {
    margin-top: 10rem;
    background-color: var(--bg-color);
    color: var(--font-color);
}

footer>div>section>h2 {
    /*font-family: 'Cormorant Garamond', serif;*/
    font-size: 20px;
    color: var(--font-color);
}

footer>div a {
    text-decoration: none;
    color: var(--font-color);
}

article>section>ul>li {
    transition: all 0.5s ease;
}

article>section>ul>li:hover {
    transform: scale(0.90);
}

.product .card {
    border: 1px solid #000000 !important;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.product .card:hover {
    box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.66);
    border: 1px solid #dfdfdf !important;
    transition: 0.5s;
    overflow: hidden;
}


/*Login.html*/

section {
    margin-top: 15px;
}

.img-left {
    width: 45%;
    background: url('../upload/Carusel1.jpg') center;
    background-size: cover;
}

.card-body {
    padding: 2rem;
}


/*arrotondare la card, anche quella della registrazione*/

section>.container .card,
section>.container-fluid .card {
    border: 1px solid #000000 !important;
    border-radius: 30px;
    overflow: hidden;
}

.title {
    margin-bottom: 2rem;
}

.form-input {
    position: relative;
}

.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    outline: none;
    background: transparent;
}


/*form della Registrazione*/

.form-outline input {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    outline: none;
    background: transparent;
    font-size: inherit;
}


/*Modifica dei link delle pagine di Registrazione e Login*/

section .card>.card-body p>a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.form-input input:focus,
.form-input input:valid,
.form-outline input:focus,
.form-outline input:valid {
    border: 2px solid var(--bg-color);
}

section .card-body .btn {
    width: 75%;
    margin-top: 10px;
    border-radius: 50px;
    color: var(--font-color);
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 10px;
    transition: 0.5s;
}

section .card-body .btn:hover {
    width: 90%;
    background: rgba(0, 0, 0, 1) important;
}


/*Fragrances*/

aside>section>h3 {
    font-size: 25px;
}

aside section>h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

aside>header>h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

aside section>ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container>.row>div>h2 {
    margin-left: 17%;
}


/*Carrello - offcanvas*/

.offcanvas .offcanvas-title {
    padding-left: 5%;
}


/*Eliminare per l'idea #3*/


/*
.offcanvas .card{
    margin: 10px 2%;
    border: 1px solid #000000 !important;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.offcanvas .card:hover{
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.66);
    border: 1px solid #dfdfdf !important;
    transition: 0.5s;
}
*/

.offcanvas .card img {
    position: absolute;
    margin-top: 5px;
    margin-left: 2%;
    height: 100px;
}

.offcanvas .card h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px 0;
    padding-top: 5px;
}

.offcanvas .card>.card-body hr {
    width: 90%;
    margin: 0;
    margin-bottom: 10px;
    background-color: rgba(82, 77, 77, 0.384);
}

.offcanvas .card>.card-body {
    margin-left: 20%;
    padding: 0;
}


/*
.offcanvas .offcanvas-body .card-body p:nth-child(3){
    font-size: 13px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}
*/


/* se non ce il trash
.offcanvas .offcanvas-body .card-body p:nth-child(4){
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}
*/


/*IDEA 2 prodotto nel carrello --- va bene anche per l'idea #3*/

.offcanvas .offcanvas-body .card-body .row>.col>.input-group {
    width: 80%;
}

.offcanvas .offcanvas-body .card-body .row>.col>.input-group>input {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.offcanvas .offcanvas-body .card-body .row>.col p {
    /*IDEA #3*/
    text-align: right;
    padding-right: 15%;
    /**/
    padding-top: 15px;
}

.offcanvas .offcanvas-body .card-body .row>.col {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}


/*card per l'idea #3*/

.offcanvas .card {
    margin: 10px 2%;
    overflow: hidden;
    border: 0;
}

.offcanvas .offcanvas-body>hr {
    width: 80%;
    margin: auto;
    margin: 10px auto;
}


/*icona del cestino*/

.offcanvas .offcanvas-body i {
    width: 35px;
    font-size: 18px;
    float: right;
}

.offcanvas footer {
    margin-top: auto;
    margin-bottom: 50px;
}

.offcanvas footer hr {
    width: 85%;
    margin: auto;
}

.offcanvas footer {
    background: none;
    color: #000;
}

.offcanvas>footer>.row>.col {
    padding-top: 20px;
    margin-bottom: 10px;
}

.offcanvas footer .row .col:first-child p {
    font-size: 20px;
    text-align: left;
    padding-left: 10%;
}

.offcanvas footer .row .col:last-child p {
    font-size: 20px;
    text-align: right;
    padding-right: 10%;
}

.offcanvas>footer>.row:last-child>a,
#checkout-button,
.modal a.btn {
    width: 50%;
    margin: auto;
    border-radius: 30px;
    padding: 8px 10%;
    text-transform: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    transition: 0.5s;
}

#confirmPaymentButton {
    width: 90%;
    margin: auto;
    border-radius: 30px;
    padding: 8px 10%;
    text-transform: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
}

.offcanvas>footer a:hover,
#checkout-button:hover {
    background-color: var(--bg-color);
    width: 55%;
    transition: 0.5s;
}


/*Pagina registrazione*/

.img-right {
    width: 50%;
    background: url(../upload/img_registration.jpg) local;
    background-size: 300%;
    background-position: 48% 19%;
}


/*Pagina Prodotto*/

.container .row .col:first-child img {
    height: 350px;
    width: auto;
    display: block;
    margin: auto;
}

.container .row .col:first-child {
    box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.66);
}

.container .row .col:last-child {
    padding-left: 5%;
}

.container .row .col:last-child>header {
    margin-bottom: 25px;
}

.container .row .col:last-child>header>hr {
    width: 80%;
    margin: 0 0 8px;
}

.container .row .col:last-child>header h3 {
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgba(2, 2, 2, 0.378);
}


/*Prezzo e Ml*/

.container .row .col:last-child section>.row {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container .row .col:last-child section>.row>p:first-child {
    text-align: left;
    font-size: 30px;
    padding-top: 17px;
}

.container .row .col:last-child section>.row>p:last-child {
    text-align: right;
    font-size: 45px;
}

.container .row .col:last-child section hr {
    margin-top: 0;
}


/*Controllo della form per la quantita*/

.container .row .col:last-child section>.input-group>label {
    font-size: 20px;
    padding-right: 5%;
}

.container .row .col:last-child section>.input-group {
    width: 30%;
}

.container>.row .col:last-child button {
    width: 70%;
    margin-top: 85px;
    border-radius: 30px;
    padding: 8px 10%;
    text-transform: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    transition: 0.7s;
}

.container>.row .col:last-child button:hover {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.66);
    transition: 0.7s;
}

.container>.row .col:last-child button>i {
    /*float: right;*/
    /*visibility: hidden;*/
    font-size: 18px;
    padding-left: 2%;
    transition: 0.7s;
}

.container>.row:nth-child(2)>section {
    margin-top: 50px;
}

.container>.row:nth-child(2)>section>header {
    margin-bottom: 10px;
}


/*Media Query */

@media screen and (max-width: 991px) {
    .container .row .col:last-child section>.input-group {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    /* nome del prodotto */
    .container .row .col:last-child>header {
        margin-top: 40px;
    }
    .container .row .col:last-child section>.input-group {
        width: 35%;
    }
    .container>.row .col:last-child button {
        margin: 35px auto 10px auto;
    }
}

@media screen and (min-width: 1400px) {
    .container .row .col:last-child section>.input-group {
        width: 25%;
    }
}


/*
.container>.row .col:last-child button>i:hover {
    font-size: 18px;
    padding-left: 55%;
}*/

.container>hr {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.container>.row:last-child {
    margin-top: 50px;
}

.container>.row:last-child>section.product>header>h2 {
    text-align: center;
    padding-bottom: 10px;
}

.payment {
    background-color: #262626;
    border-radius: 25px;
    color: #FFFFFF
}

.card input[type="text"] {
    width: 100%;
}

.card>div>div>img {
    height: 88px;
    width: auto;
    object-fit: contain;
}

/*.dropdown ul li {
    color: #e5345b;
    /*max-height: 280px;
    overflow-y: auto;
}*/

.dropdown-menu[data-bs-popper] {
    max-height: 280px;
    overflow-y: auto
}

.dropdown-menu {
    margin: -0.125rem -50px 0;
}